<div class="container-fluid">
  <div>
  <p class="bg"style="background-image:url('../assets/star.jpg'); width:auto;">
    <img src="../assets/me.jpg" width="150px" class="rounded-circle float-left" height="150px">
  </p>
  <p class="h4">Ananda Krishna Pindiprolu(He/Him)</p>
</div>
</div>
<div class="container-fluid">
<p class="pclass">
  <b>Computer </b> and <b>Data Science Engineer </b>turned into a <b>Software Professional </b>,always have a strong belief in not getting compromised on personal and professional goals to have the utmost self-satisfaction in my career,hence continuing my learning journey to implement my ideas and insights.Working hard on the same to gain more knowledge to stand high and unique in the industry and aspire to be multi-skilled in different areas of technology to justify my areas of conceptual knowledge in graduation towards practical implementation by building projects on the areas of technologies I have learned and have a great zeal to build my profile even stronger in the future.
</p>
</div>
