<div class="container-fluid">
  <h4 class="text text-dark">Skills</h4>
  <ul class="skills"> <br>
    <li><b class="text text-white">ETL:</b> Azure Data Factory,Azure Data Bricks,Pyspark,Python &nbsp;&nbsp;
     <img src="../assets/adf.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
     <img src="../assets/adb.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
     <img src="../assets/pyspark.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
     <img src="../assets/python.jpeg" width="30px" height="30px" class="rounded rounded-circle">
    </li> <br>
    <li><b class="text text-white">Devops:</b> Azure Devops,Terraform &nbsp;&nbsp;
    <img src="../assets/azuredevops.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
    <img src="../assets/terraform.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
    </li> <br>

    <li><b class="text text-white">Cloud:</b> Microsoft Azure &nbsp;&nbsp;
      <img src="../assets/azure.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
    </li> <br>
    <li><b class="text text-white">IDE: </b> Visual Studio Code,SQL Server Management Studio &nbsp;&nbsp;
      <img src="../assets/vscode.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
      <img src="../assets/ssms.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
    </li> <br>
    <li><b class="text text-white">Version Control:</b> GIT &nbsp;&nbsp;
      <img src="../assets/git.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
    </li> <br>
    <li><b class="text text-white">Operating Systems:</b> Windows 8,10 &nbsp;&nbsp;
    <img src="../assets/os10.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;

    </li> <br>
    <li> <b class="text text-white">Web Development:</b> HTML,CSS,Bootstrap,Javascript,Angular &nbsp;&nbsp;

    <img src="../assets/html.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
    <img src="../assets/css.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
    <img src="../assets/bootstrap.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
    <img src="../assets/js.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;
    <img src="../assets/angular.jpeg" width="30px" height="30px" class="rounded rounded-circle">&nbsp;&nbsp;

    </li> <br>
  </ul>
  </div>
