<div class="container-fluid center">
  <div class="sm" align="center">

      <a href="https://www.instagram.com/ananda_krishna_pindiprolu/">
        <img src="../assets/insta.jpeg" alt="image not found" width="40px" height="40px">
        </a> &nbsp;&nbsp;
        <a href="https://github.com/AnandaKrishnaPindiprolu">
          <img src="../assets/github.jpeg" alt="image not found" width="40px" height="40px">
          </a> &nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/ananda-krishna-pindiprolu-71302594">
            <img src="../assets/linedin.jpeg" alt="image not found" width="40px" height="40px">
            </a> &nbsp;&nbsp;
            <a href="https://x.com/AnandPindiprolu?t=zPbV1TDLqHRTqaQG5nJzMA&s=09">
              <img src="../assets/x.jpeg" alt="image not found" width="50px" height="50px">
              </a> <br><br>
          </div>
</div>
